@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark, corporate, business, luxury;
}

@theme {
  --font-family-sans: 'Inter', 'sans-serif';
  --font-family-serif: 'Cinzel', 'serif';
  --font-family-heading: 'Cinzel', 'serif';
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif;
  }
}

